import(methods)
import(BiocGenerics)
import(S4Vectors)
import(RSQLite)
importFrom(Biobase, createPackage)
importFrom(AnnotationDbi, dbconn)
import(GenomicFeatures)
import(IRanges)
import(GenomicRanges)
importFrom(GenomeInfoDb, Seqinfo)
importFrom(DBI, dbDriver)
importFrom(utils, "read.table", "write.table", "str")
importClassesFrom(AnnotationFilter, AnnotationFilter, CharacterFilter,
                  IntegerFilter, EntrezFilter, GeneIdFilter,
                  GeneBiotypeFilter, GenenameFilter, TxIdFilter,
                  TxBiotypeFilter, ExonIdFilter, SeqNameFilter, SeqStrandFilter)
importMethodsFrom(AnnotationFilter, value, condition, field)
importMethodsFrom(ensembldb, ensemblVersion, listColumns,
                  listTables, listGenebiotypes, listTxbiotypes)
importFrom(AnnotationFilter, AnnotationFilter, EntrezFilter, GeneIdFilter,
           GeneBiotypeFilter, GenenameFilter, TxIdFilter, TxBiotypeFilter,
           ExonIdFilter, SeqNameFilter, SeqStrandFilter)

## classes:
exportClasses(MirhostDb, AlignmentIdFilter, ArrayFilter, DatabaseFilter,
              PositionFilter, PreMirnaFilter, PreMirnaIdFilter,
              PreMirnaConfidence, ProbesetIdFilter, MatMirnaFilter, MatMirnaIdFilter,
              MatMirnaConfidence, MirfamFilter, MirfamIdFilter, ReadCountFilter)
## constructors for Filters
export(AlignmentIdFilter, ArrayFilter, DatabaseFilter,
       ProbesetIdFilter, PositionFilter, PreMirnaFilter, PreMirnaIdFilter,
       PreMirnaConfidence, MatMirnaConfidence, MatMirnaFilter, MatMirnaIdFilter,
       MirfamFilter, MirfamIdFilter, ReadCountFilter, SeqStartFilter,
       SeqEndFilter)
## export utils to fetch the data.
export(MirhostDb, downloadMirbase,
       defineMirhostgenes, fetchAdditionalInformation, getArrayFeaturesForTx,
       makeHostgeneSQLiteFromTables, makeMirhostgenesPackage)
## export matching related stuff:
export(chooseAll, chooseClosestForEach, chooseOrderedValue,
       doSelectData, doPairData)
## methods:
exportMethods(column, dbconn, hostgenes, hostgenesBy, hosttx,
              hosttxBy, listArrays, listColumns, listDatabases, listTables,
              matmirnas, matmirnasBy, metadata, mirbaseVersion,
              organism, premirnas, premirnasBy, show, where, version,
              listGenebiotypes, listTxbiotypes, probesets, probesetsBy,
              value)
## summary methods:
exportMethods(matmirnasInMultiplePremirnas, premirnasWithMultipleAlignments)
## pairing values
exportMethods(transferValues)

